/******************************************************************

		Name: style.css
		Description: 
		Author: Thomas Gull
		Author URI: gulldesign.ch
		Version: v2.0
		Release: 2021-04-09
		License: Public Licence

******************************************************************/
/*------------------------------------------------------------------------------
  GENERAL
------------------------------------------------------------------------------*/